<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Chủ - Quản Lý Trung Tâm</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/animation.css">
    <link rel="stylesheet" href="../../assets/css/index.css">
</head>

<body>
    <div class="container-fluid p-0">
        <div class="preloading">
            <img src="../../assets/images/img-trangchu/loading-walking.gif" alt="">
        </div>
        <img src="../../assets/images/img-trangchu/Development-Tools.jpg" alt="" class="bg-img w-100">
        <div class="bg-gradient"></div>
        <div class="row content">
            <div class="col-lg-8 content__left">
                <h1 class="content__left__ttl">CyberSoft</h1>
                <p class="content__left__slogan">Trở Thành Chuyên Gia
                    <span>"LẬP TRÌNH WEB"</span> từ con số 0</p>
            </div>
            <div class="col-lg-4 content__right">
                <div class="content__right__contact">
                    <span class="email">
                        <i class="fa fa-envelope"></i>admin@cybersoft.edu.vn</span>
                    <span class="phone">
                        <i class="fa fa-phone"></i>012342342</span>
                </div>
                <div class="content__right__btn">
                    <div class="content__right__DangNhap">
                        <button class="btn btn-DangNhap">Đăng Nhập</button>
                    </div>
                    <div class="content__right__DangKy">
                        <button class="btn btn-DangKy">Đăng Ký</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 icon-courses d-flex justify-content-center">
                <div class="row icon-courses__list">
                    <div class="mb-4 icon-courses__item ">
                        <img src="../../assets/images/img-trangchu/icon courses/html5.png" alt="">
                    </div>
                    <div class="mb-4 icon-courses__item">
                        <img src="../../assets/images/img-trangchu/icon courses/css3.png" alt="">
                    </div>
                    <div class="mb-4 icon-courses__item">
                        <img src="../../assets/images/img-trangchu/icon courses/js.png" alt="">
                    </div>
                    <div class="mb-4 icon-courses__item">
                        <img src="../../assets/images/img-trangchu/icon courses/bootstrap.png" alt="">
                    </div>
                    <div class="mb-4 icon-courses__item">
                        <img src="../../assets/images/img-trangchu/icon courses/jquery.png" alt="">
                    </div>
                    <div class="mb-4 icon-courses__item">
                        <img src="../../assets/images/img-trangchu/icon courses/ajax.png" alt="">
                    </div>
                    <div class="mb-4 icon-courses__item">
                        <img src="../../assets/images/img-trangchu/icon courses/Angular.png" alt="">
                    </div>
                    <div class="mb-4 icon-courses__item">
                        <img src="../../assets/images/img-trangchu/icon courses/WordPress_blue_logo.svg.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-form">
        </div>
        <!-- Begin form login-->
        <div class="wrap-login100">
            <form class="login100-form">
                <span class="login100-form-title ">
                    Đăng Nhập
                </span>
                <div class="wrap-input100 ">
                    <input class="input100" type="text" id="TaiKhoan">
                    <span class="focus-input100" data-placeholder="Tài Khoản"></span>
                </div>
                <span class="thongbaoTK"></span>
                <div class="wrap-input100 ">
                    <input class="input100" type="password" id="MatKhau">
                    <span class="focus-input100" data-placeholder="Mật Khẩu"></span>
                </div>
                <span class="thongbaoMK"></span>
                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <div class="btn login100-form-btn" id="btn-DangNhap">
                            <img src="../../assets/images/img-trangchu/lod.gif" class="img-loading" alt=""> Đăng Nhập
                        </div>
                    </div>
                </div>
                <div class="text-center ">
                    <span class="txt1">
                        Bạn chưa có tài khoản?
                    </span>
                    <a class="txt2 txtDangKy" href="#">
                        Đăng kí
                    </a>
                </div>
            </form>
        </div>
        <!-- end Form login -->
        <!-- begin  form đăng kí -->
        <div class="wrap-signUp100">
            <form class="signUp100-form">
                <span class="login100-form-title ">
                    Đăng Ký
                </span>
                <div class="wrap-input100 ">
                    <input class="input100" type="text" id="TKDangKy">
                    <span class="focus-input100" data-placeholder="Tài Khoản"></span>
                </div>
                <span class="thongbaoTK"></span>
                <div class="wrap-input100 ">
                    <input class="input100" type="password" id="MKDangKy">
                    <span class="focus-input100" data-placeholder="Mật Khẩu"></span>
                </div>
                <span class="thongbaoMK"></span>
                <div class="wrap-input100 ">
                    <input class="input100" type="text" id="HTDangKy">
                    <span class="focus-input100" data-placeholder="Họ Tên"></span>
                </div>
                <span class="thongbaoHT"></span>
                <div class="wrap-input100 ">
                    <input class="input100" type="text" id="emailDangKy">
                    <span class="focus-input100" data-placeholder="Email"></span>
                </div>
                <span class="thongbaoEmail"></span>
                <div class="wrap-input100 ">
                    <input class="input100" type="text" id="SoDTDangKy">
                    <span class="focus-input100" data-placeholder="Số Điện Thoại"></span>
                </div>
                <span class="thongbaoSDT"></span>
                <div class="container-signUp100-form-btn">
                    <div class="wrap-signUp100-form-btn">
                        <div class="signUp100-form-bgbtn"></div>
                        <div class="signUp100-form-btn" id="btn-DangKy">
                            Đăng Ký
                        </div>
                    </div>
                </div>
                <div class="text-center ">
                    <span class="txt1">
                        Bạn đã có tài khoản?
                    </span>
                    <a class="txt2 txtDangNhap" href="#">
                        Đăng Nhập
                    </a>
                </div>
            </form>
        </div>
        <!-- end form đăng kí -->
    </div>
    <!-- =============================================================================================== -->
    <!-- sweetalert2 -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.22.0/sweetalert2.all.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="../../node_modules/popper.js/dist/popper.min.js"></script>
    <script type="text/javascript" src="../../node_modules/bootstrap//dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../services/NguoiDungService.js"></script>
    <script type="text/javascript" src="../Models/NguoiDung.js"></script>
    <script type="text/javascript" src="../Models/DanhSachNguoiDung.js"></script>
    <script type="text/javascript" src="../Controlers/main.js"></script>
    <script type="text/javascript" src="../Controlers/index.js"></script>
</body>

</html>